@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

body,
html {
  font-family: Alegreya, sans-serif;
  height: 100%;
  background-image: url("sushi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {

  display: flex;
  justify-content: center;

}

.form-interface {
  margin: 5% 2%;
  background: white;
}

#logo-img {
  height: 200px;
  width: 400px
}

.nav-brand {
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
}



@media (min-width: 768px) {
  .nav-brand {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .nav-brand {
    font-size: 2.8rem;
  }
}

.book-table-btn {
  color: white;
  font-size: 1.2rem;
  padding: 2% 8%;
  border-radius: 50px;
  background-color: #e74c3c;
  border: 2px white solid;
  font-family: Alegreya, sans-serif;
}

.book-table-btn:hover {
  color: #e74c3c;
  background-color: white !important;
  border: 2px solid black !important;
}

@media (min-width: 768px) {
  .book-table-btn {
    font-size: 1.4rem;
    padding: 0.5% 5%;
  }
}

.button-general {
  width: 85%;
  padding: 4% 0;
  background-color: #e74c3c;
  color: white;
  margin: 2% 0;
  font-family: "Roboto";
  font-size: 1.1rem;
  border: none;
  border-radius: 50px;
  text-align: center;
  font-family: Alegreya, sans-serif;
}

.button-general:hover {
  color: white;
}

.button-general.add-table {
  background-color: #17D7A0;
  color: black;
}

.button-general.edit-table {
  background-color: #FBD148;
  color: black;
}

.button-general.toggle-menu {
  background-color: #35589A;
}


@media (min-width: 768px) {
  .button-general {
    font-size: 1.2rem;
  }
}

.display-tables {
  background-color: #9D84B7;
  margin: 10% 2%;
  padding: 3% 5%;
  border-radius: 25px;
  opacity: 100%;
  font-family: Alegreya, sans-serif;
}

@media (min-width: 768px) {
  .display-tables {
    margin: 6% 2.5%;
  }
}

.table-legend {
  padding-top: 1%;
  padding-bottom: 4.5%;
  color: white;
}

.available-tables {
  color: white;
  font-size: 1.2rem;
  font-family: Alegreya, sans-serif;
}

.center-title {
  color: white;
  font-family: Alegreya, sans-serif;
  text-align: center;
}


.table-container {
  margin: 0 1%;
}

.table {
  background-color: rgba(245, 246, 250, 0.4);
  padding: 15px;
  border-radius: 25px;
  min-width: 80px;
}

.table-row {
  margin-bottom: 8px;
}

.selectable-table:hover {
  cursor: pointer;
}

.unoccupied-table {
  background-color: #F999B7;
  border: solid 2px white;
  border-radius: 50%;
  padding: 1px 10px;
  margin: 3px;
}

.awaiting-table {
  background-color: #FFE652;
  border: solid 2px white;
  border-radius: 50%;
  padding: 1px 10px;
  margin: 3px;
}

.occupied-table {
  background-color: #A3DA8D;
  border: solid 2px white;
  border-radius: 50%;
  padding: 1px 10px;
  margin: 3px;
}

.table-name {
  color: white;
  font-size: 0.8rem;
  padding-top: 15px;
  font-family: Roboto, sans-serif;
}